.bandeau {
  position: fixed;
  width: 100%;
  height: 50px;
  font-size: 28px;
  text-align: center;
  box-shadow: 0px 2px 12px 0px;
  background-color: white;
  z-index: 1;
  font-weight: bold;
  text-indent: -38%;
}

.box {
  /*contenant des articles*/
  margin-bottom: 7%;
  padding: 5%;
  box-shadow: 1px 12px 15px 0px rgba(0, 0, 0, 0.355);
  border-radius: 2%;
  min-width: 250px;
  width: 100%;
  background-color: white;
}

h2 {
  font-size: x-large;
}

.pad {
  /*contener contient bouton haut*/
  padding-top: 120px;
}

.flexbox {
  /*pour mettre un element en flexbox*/
  display: flex;
}

.flex_column {
  /*h1 avec le p*/
  flex-direction: column;
  width: 50%;
  min-width: 250px;
}

.weaper {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  position: relative;
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
}

ul {
  list-style-image: url("../images/bullet.png");
}

h1 {
  font-size: xx-large;
  font-weight: bold;
}

button {
  background-color: rgb(188, 40, 40);
  color: white;
}

.buttonEnd {
  justify-content: center;
}

.buttonOne {
  justify-content: end;
  min-width: 250px;
  width: 30%;
}

body {
  padding-bottom: 5%;
  background-color: aliceblue;
}

@media (max-width: 960px) {
  .weaper {
    flex-direction: column;
  }

  .buttonOne {
    justify-content: center;
    width: 100%;
  }

  .flex_column {
    width: 100%;
  }

  .bandeau {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
  }
}
