header {
  position: sticky;
  left: 0;
  top: 0;
  background-color: white;
  font-size: 28px;
  box-shadow: 1px 12px 15px 0px rgba(0, 0, 0, 0.355);
  height: 2em;
  min-width: 270px;
  z-index: 1;
}

.box {
  /*contenant des articles*/
  margin-bottom: 4%;
  padding: 3%;
  box-shadow: 1px 12px 15px 0px rgba(0, 0, 0, 0.355);
  border-radius: 30px;
  min-width: 250px;
  width: 100%;
  background-color: white;
}

h2 {
  font-size: x-large;
  cursor: pointer;
}

.pad {
  /*contener contient bouton haut*/
  padding-top: 5em;
}

.flexbox {
  /*pour mettre un element en flexbox*/
  display: flex;
}

.flex_column {
  /*h1 avec le p*/
  flex-direction: column;
  width: 50%;
  min-width: 250px;
}

.weaper {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  position: relative;
  max-width: 960px;
  min-width: 250px;
  margin: 0 auto;
}

ul {
  list-style-image: url("../images/bullet.png");
}

h1 {
  font-size: xx-large;
  font-weight: bold;
}

button {
  background-color: #bc2828;
  color: white;
  transition: 0.7s;
}

button:hover {
  background-color: #a9a9a9;
  color: black;
}

.buttonEnd {
  justify-content: center;
}

.buttonOne {
  justify-content: end;
  min-width: 250px;
  width: 30%;
}

body {
  padding-bottom: 5%;
  background-color: aliceblue;
}

.toggle-list {
  display: none;
}

.show-list {
  display: block;
}

#randomGif {
  display: none;
}

.gif {
  justify-content: center;
}

.glitch {
  animation: glitch 2.5s linear;
  animation-fill-mode: forwards;
}

@keyframes glitch {
  0% {
    transform: skew(0deg);
    scale: 1;
    background: #bc2828;
  }
  20% {
    transform: skew(5deg);
    scale: 1.2;
    background: #971d1d;
  }
  40% {
    transform: skew(-5deg);
    scale: 1.3;
    background: #0ad50a;
  }
  60% {
    transform: skew(5deg);
    scale: 1;
    background: #0808c7;
  }
  80% {
    transform: skew(-5deg);
    scale: 1.3;
    background: #e306e3;
  }
  100% {
    transform: skew(0deg);
    scale: 1;
    background: #bc2828;
  }
}

@media (max-width: 960px) {
  .weaper {
    flex-direction: column;
  }

  .buttonOne {
    justify-content: center;
    width: 100%;
  }

  .flex_column {
    width: 100%;
  }

  header {
    font-size: 2rem;
  }
  .pad {
    padding-top: 2em;
  }
  img {
    max-width: 90%;
  }
}

@media (max-width: 580px) {
  img {
    width: 90%;
  }
}

@media (max-width: 340px) {
  header {
    font-size: small;
  }
}
